<div [attr.aria-disabled]="!active" [attr.aria-hidden]="!active">
  <ng-container *ngIf="timer$ | async as timer">
    <ng-pomo-circular-progress-bar [percentage]="timer.percentage" [type]="type">
      <p [ngClass]="type">{{ timer.remainingMs | pomoMinutesAndSeconds }}</p>
    </ng-pomo-circular-progress-bar>
  </ng-container>
  <div class="btn-container" [ngClass]="type">
    <button [ngClass]="(timer$ | async).resumable ? 'pause' : 'start'" (click)="start()">{{(timer$ |
      async).resumable ? "Pause" :
      "Start" }}</button>
  </div>
</div>
